{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
  <div class="d-flex align-items-center h-100">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card">
            <div class="card-body p-5">
              <h2 class="text-center fw-bold">PlanIQ | Login</h2>
              <p class="text-center my-3">
                Ainda não tem uma conta? <a href="{% url 'usuarios:cadastro' %}" class="fw-bold text-body"><u>Cadastre-se</u></a>
              </p>

              {% include "partials/_google_auth_button.html" %}
              <div class="d-flex align-items-center my-3">
                  <hr class="flex-grow-1">
                  <span class="px-3">OU</span>
                  <hr class="flex-grow-1">
              </div>
              
              <form method="POST" novalidate>
                {% csrf_token %}
                <div class="mb-3">
                  <label for="id_username" class="form-label">Usuário</label>
                  <input type="text" name="username" id="id_username" class="form-control" required>
                  <div class="text-danger" id="usernameError"></div>
                </div>

                <div class="mb-3">
                  <label for="id_password" class="form-label">Senha</label>
                  <div class="input-group">
                    <input type="password" name="password" id="id_password" class="form-control" required>
                    <button type="button" class="btn btn-outline-secondary" id="togglePassword" onclick="togglePasswordVisibility()">
                      <i class="bi bi-eye"></i>
                    </button>
                  </div>
                  <div class="text-danger" id="passwordError"></div>
                </div>

                <a href="{% url 'usuarios:password_reset' %}" class="d-block text-start text-body">Esqueceu a senha?</a>

                <div class="d-flex justify-content-center mt-4">
                  <button type="submit" class="btn btn-primary">Entrar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function togglePasswordVisibility() {
    const passwordField = document.getElementById('id_password');
    const toggleButton = document.getElementById('togglePassword');
    
    if (passwordField.type === 'password') {
      passwordField.type = 'text';
      toggleButton.innerHTML = '<i class="bi bi-eye-slash"></i>';
    } else {
      passwordField.type = 'password';
      toggleButton.innerHTML = '<i class="bi bi-eye"></i>';
    }
  }
</script>
{% endblock %}
