{% if user.is_authenticated %}
<div id="sidebar" class="sidebar d-flex flex-column p-3">
  <button id="toggleSidebar" class="sidebar-toggle btn btn-sm">
    <i class="bi bi-chevron-double-left"></i>
  </button>

  <ul class="nav nav-pills flex-column mb-auto mt-4">
    <li class="nav-item">
      <a href="{% url 'app:home' %}" class="nav-link">
        <i class="bi bi-house-door"></i>
        <span class="text">Início</span>
      </a>
    </li>
    <li>
      <a href="{% url 'app:nova_tarefa' %}" class="nav-link">
        <i class="bi bi-plus-circle"></i>
        <span class="text">Novo</span>
      </a>
    </li>
    <li>
      <a href="{% url 'app:minhas_tarefas' %}" class="nav-link">
        <i class="bi bi-list-task"></i>
        <span class="text">Minhas Tarefas</span>
      </a>
    </li>
    <li>
      <a href="{% url 'app:meus_periodos' %}" class="nav-link">
        <i class="bi bi-calendar-week"></i>
        <span class="text">Meus Períodos</span>
      </a>
    </li>
    <li>
      <a href="{% url 'app:minhas_materias' %}" class="nav-link">
        <i class="bi bi-book"></i>
        <span class="text">Minhas Matérias</span>
      </a>
    </li>
    <li>
      <a href="{% url 'app:calendario' %}" class="nav-link">
        <i class="bi bi-calendar"></i>
        <span class="text">Calendário</span>
      </a>
    </li>
    <li>
      <a href="{% url 'accounts:configuracoes' %}" class="nav-link">
      <i class="bi bi-gear"></i>
      <span class="text">Configurações</span>
      </a>
    </li>
  </ul>
</div>
{% endif %}