{% extends "base.html" %}
{% load static widget_tweaks crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <div class="mb-3">
        <span style="cursor: pointer;" onclick="history.back()">&larr; Voltar</span>
    </div>

    <div class="card tarefa-card shadow-sm">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h4 class="mb-0">Editar Matéria</h4>
        </div>

        <div class="card-body">
            <form method="POST" novalidate>
                {% csrf_token %}
                {{ form|crispy }}

                <div class="d-flex justify-content-end gap-2 mt-4">
                    <a href="{% url 'app:detalhar_materia' materia.id %}" class="btn btn-outline-secondary">Cancelar</a>
                    <button type="submit" class="btn btn-outline-light px-4">Salvar Alterações</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}